.img-container-div-w{
    font-size: 12px !important;
}
.img-container-div-icon{
    font-size: 24px;
    background-color: #0a0a0a;
    color: #1e90ca;
    border-radius: 5px;
}
.img-container-right-div{
    border-left: 1px solid #423f3f;
    /* height: 100%; */
}
.dropdown-icon-img{
    height: 50px;
}
.light-p{
    font-size: 11px;
}
.arrow-icon-btn{
    background-color:#1b1b1b;
    color: white;
    border:none;
}
.dropdown-content{
    max-height: 300px;
    height: auto;
    border: 1px solid #423f3f;
    width: 250px;
    overflow-y: scroll;
    position: absolute;
    right: 0%;
}
.drop-content-btn{
    background-color: rgb(5, 5, 5);
    border: none;
    /* width: 100%; */
    color:#3d3d49;
    height: 40px;
}
.drop-content-btn:hover{
    background-color: #423f3f;
    color: white;
    border-left: 1px solid #f44336;

}
.counting-div{
 border: 1px solid #1e90ca;
 width: 130px;
 border-radius: 15px;
}
.counting-div button{
    width: 30px;
    border-radius: 15px;
    height: 30px;
    font-size: 23px;
    font-weight: 700;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #3d3d49;
    color: white;
}
.count-input-div{
    width:60px;
}
.counting-div input{
    width: 40px;
    background-color: #0a0a0a;
    border: none;
    color: white;
    
}
.dimension-dropdown-h{
    width: 100%;
    background-color: #131212;
    height: 50px;
    color: rgb(187, 170, 170);



}
.image-c-i{
    background-color: #1b1b1b;
    border-color: #3d3d49;
    width : 100%;
    height: 70px;
    border-radius: 10px;
    color: white;
    /* outline: #f44336; */

    outline-color: #1e90ca;
}
.generate-bnt{
    background-color: #1e90ca;
    /* Linear Gradient */
    background-image: linear-gradient(to right, #1e90ca, #49d688);
    width: 170px;
    height: 55px;
    border-radius: 7px;
    /* border-color: aliceblue; */
    color: white;
    font-size: 20px;
    font-weight: 600;
}