.side-bar-logo{
    height: 45px;
}
.side-bar{
    color: white;
    border-right: 1px solid rgb(99, 94, 94);
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    
    
}
.side-bar::-webkit-scrollbar{
    display:none;
}
.sidebar-content-div{
    height: 50px;
    background-color: black;
    border: none;
    width: 100%;

    

}
.sidebar-btn{
    height: 100%;
    width: 100%;
   
}
.sidebar-icon{
  /* height:px; */
  font-size: 25px;
  color:#3a3a40;



  /* background-color: orange; */
}
.side-bar-active{
    font-size: 24px;
    color:white;
    border-left: 2px solid #f44336;

  

}
.sidebar-content-div p{
    font-size: 22px;
    font-weight: 600;
    color : #3a3a40;
}
.is-active{
    color: white !important;
}
.btn-active{
    /* border-left: 4px solid #f44336; */
    background-image: linear-gradient(to right, #1e90ca, #49d688);
    /* Set background-clip to text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Transparent text color for browsers that don't support background-clip */
    color: transparent;
    /* Add a border */
    border-left: 4px solid #1e90ca; 
}
.icon-active{
    background-image: linear-gradient(to right, #1e90ca, #49d688);
    /* Set background-clip to text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Transparent text color for browsers that don't support background-clip */
    color: #1e90ca;
}
.sidebar-content-div:hover{
    background-color: #1b1b1b;

}
@media screen and (max-width: 992px){
    .side-bar{
        color: white;
        border-right: 1px solid rgb(99, 94, 94);
        height: 100vh;
        overflow-y: scroll;
        position: absolute;
        z-index: 1;
        top:10%;
    }
   


}